<!doctype html>
<html>

<head>
  <meta charset=utf-8 />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> {% if page.title %} {{ page.title }} | {% endif %} CV</title>
  <link href="media/cv-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="media/cv-print.css" type="text/css" rel="stylesheet" media="print">

  <meta property="og:title" content="Carsten Knoblich – CV"/>
  <meta property="og:image" content="https://staticline.de/img/avatar_squared_portrait.jpg"/>
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="300" />
  <meta property="og:image:alt" content="Carsten Knoblich" />
  <meta property="og:description" content="Freelance software developer from Berlin, specialized in iOS, Django and certified AWS solutions architect"/>
  <meta property="og:url" content="https://whiskey.github.io/markdown-cv/" />

  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["setDomains", ["*.whiskey.github.io/markdown-cv"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
      var u = "https://analytics.staticline.de/";
      _paq.push(['setTrackerUrl', u + 'matomo.php']);
      _paq.push(['setSiteId', '2']);
      var d = document,
        g = d.createElement('script'),
        s = d.getElementsByTagName('script')[0];
      g.type = 'text/javascript';
      g.async = true;
      g.defer = true;
      g.src = u + 'matomo.js';
      s.parentNode.insertBefore(g, s);
    })();
  </script>
  <noscript>
    <p><img src="https://analytics.staticline.de/matomo.php?idsite=2&amp;rec=1" style="border:0;" alt="" /></p>
  </noscript>
  <!-- End Matomo Code -->
  <!-- Matomo Tag Manager -->
  <script type="text/javascript">
  var _mtm = _mtm || [];
  _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
  var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
  g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://analytics.staticline.de/js/container_xspvZpZa.js'; s.parentNode.insertBefore(g,s);
  </script>
  <!-- End Matomo Tag Manager -->
</head>

<body>
  <div id="header">
    <a id="download" href="https://staticline.de/CarstenKnoblich_CV.pdf" target="_blank">Download CV<a>
  </div>
  <div id="main">
    <div id="content">
      {{ content }}
    </div>
  </div>
</body>

</html>
